{% extends "homepage/base.html" %}
{% block content %}

<h1 class="anton">Aplikacja Juwenalia</h1>

<div class="span4">
    <img src="media/Juwenalia-2019.jpg" alt="Juwenalia">
</div>

    <div class="box" style="text-align:justify">
       Przedmiotem projektu jest stworzenie wielofunkcyjnej aplikacji mobilnej "Juwenalia".
        Głównym celem projektu jest dostarczenie użytkownikowi aplikacji, która pozwoli mu na poszerzenie wiedzy
        na temat wydarzenia oraz na lepsze zorganizowanie czasu, podczas brania w nim udziału. Grupą docelową projektu
        są uczestnicy imprezy, jaką są Juwenalia, organizowanej przez Politechnikę Rzeszowską im. Ignacego Łukasiewicza
        i odbywającej sie na obszarze jej miasteczka. Zawartość  aplikacji dotyczyć będzie m.in. informacji dotyczącej
        koncertów, harmonogramu wystąpień gwiazd imprezy - z dokładnym opisaniem miejsca w którym będą  występować oraz
        informacji o Tygodniu Tematycznym, wydarzeniach z nim związanych i możliwością zapisania sie na nie. Dodatkowo
        istnieje możliwość otrzymywania przez użytkownika aplikacji informacji od Biura Rzeczy zagubionych, odnośnie
        rzeczy jakie zostały znalezione podczas imprezy. Istnieje również funkcja, która pozwoli użytkownikowi na
        umieszczenie informacji, jeżeli sam znajdzie jakąś rzecz. Aplikacja będzie darmowa dla wszystkich użytkowników,
        będzie istniała możliwość logowania sie przez konto Google lub za pomocą Facebook'a.

    </div>
    {% endblock content %}
